# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Escapy.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\UNIfiles\GMD\Escapy\Escapy\.idea\.idea.Escapy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
